@import "./var";

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Joan', serif;
    font-size: large;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.hero__header{
    background: $colorheader;
}

.hero__main{
    background: $colormain;
}

.hero__footer{
    background: $colorfooter;
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}

.carousel-inner{
    height: 60vh;
    object-fit: cover;
}

.carrusel{
    height: 40vh;
}

.imgcar{
    height: 40vh;
}

.hero__p{
    text-align: center;
}

.hero__div{
    text-align: center;
}

.perfil{
    height: 40vh;
}

.form{
    width: 320px;
}

.form2{
    height: 50vh;
}

.form3{
    text-align: center;
}

i{
    font-size: 1.5rem;
    padding: 0rem 1rem;
}

.servicios{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.productos{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.nosotros{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contacto{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.inicio{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
