$colorheader: rgb(244,124,124) linear-gradient(90deg, rgba(244,124,124,1) 53%, rgba(244,124,124,1) 100%);
$colormain:rgb(239,159,159) linear-gradient(90deg, rgba(239,159,159,1) 53%, rgba(239,159,159,1) 100%);
$colorfooter: rgb(239,159,159) linear-gradient(90deg, rgba(239,159,159,1) 53%, rgba(239,159,159,1) 100%);