@import "./var";

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Joan', serif;
    font-size: large;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}


  /*Abarca todo*/


.hero__header{
    background: $colorheader;
}

.hero__main{
    background: $colormain;
}

.hero__footer{
    background: $colorfooter;
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}

h1, h2, h3{
    font-size: 2rem;
}



a{
    color: black;
}

.img-thumbnail{
    background-color: black;
    border: none;
}

.hero__p{
    padding: 1rem 2rem;
    @extend .hero__div;
    justify-content: center;
}

i{
    font-size: 1.5rem;
    padding: 0rem 1rem;
}

.zoom{
    transition: transform .2s;
}

.zoom:hover{
    transform: scale(1.05);
}


/*inicio*/

.index__pad{
    margin-top: 0.5rem;
}

.carousel-inner{
    height: 60vh;
    object-fit: cover;
}

.carrusel{
    height: 40vh;
}

.inicio{
    @include padding;
}

.hero__indexp{
    font-size: map-get($map:$estilos, $key: chico);
}

.hero_ig{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 2rem;
    text-align: center;
}
@keyframes scale {
    100% {
      transform: scale(1);
    }
}

.animacion{
        opacity: 0;
        filter: blur(4px);
}

.animacion:nth-child(1) {
        animation: fade-in 2s 0.1s forwards ;
}


/*Productos*/


.hero__div{
    text-align: center;
}

.productos{
    @include padding;
}


.hero__prodp{
    font-size: map-get($map:$estilos, $key: chico);
    padding: 0rem 1.5rem;
}

.animacion2{
    animation: 2s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

.animacion3{
    animation: 4s anim-lineUp ease-out;
}


.animacion4{
    animation: 6s anim-lineUp ease-out;
}


@keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

/*Nosotros*/


.hero_nosop{
    font-size: map-get($map:$estilos, $key:chico)
}

.perfil{
    height: 40vh;
}

.nosotros{
    @include padding;
}

.hero_margin{
    margin-left: auto;
    margin-right: auto;
}


h4{
    text-decoration: underline;
    padding-top: 1rem;
}
/*Contactos*/


.hero_contap{
    font-size: map-get($map:$estilos, $key:chico)
}

.form{
    width: 320px;
}

.form2{
    height: 50vh;
}

.form3{
    text-align: center;
}

.contacto{
    @include padding;
}


  /*Servicios*/


.servicios{
    @include padding;
}

.h1_servi{
    animation: 1.5s anim-line ease-out;
    display: flex;
    justify-content: center;
}

.hero__servip{
    font-size: map-get($map:$estilos, $key: chico);
}

.animacion5{
    animation: 7.5s anim-line ease-out;
  }

.animacion6{
    animation: 10s anim-line ease-out;
}
.animacion7{
    animation: 2.5s anim-line ease-out;
}
.animacion8{
    animation: 5s anim-line ease-out;
}
  @keyframes anim-line {
    0% {
      opacity: 0;
      transform: translateX(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
